.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home_row {
  display: flex;
  z-index: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.home_image {
  width: 100%;
  z-index: -1;
  margin-bottom: -250px;
  mask-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
