.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  box-shadow: 5px 5px gray;
  z-index: 1;
}

.product_rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #ffbe19;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
}

.product_price {
  margin-top: 5px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.btn-add-basket {
  border-radius: 7px;
  border: 2px;
  padding: 2px;
  width: 130px;
  height: 30px;
}
